:root {
    --backgroundbutton-color: #b47b48;
    --backgroundblack-color: #272727;
    --backgroundorange-color: #ebad51;
    --menu-color: #202023;
    --font-family: "inter";
    --button-color: #c85312;
    --second-family: "italiana"
}

.main-conteiner {
    width: 1440px;
    margin: 0 auto;
    outline: blue 1px solid;
    background: var(--menu-color);
}

.conteiner {
    width: 1160px;
    margin: 0 auto;
    outline: tomato 1px dashed;
}

.header-hero {
    background-image: url(../images/photo_2022.jpg);
}

/*? header  */

.header {
    padding-bottom: 36px;
    padding-top: 55px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    /* margin-left: 156px; */
    width: 558px;
    margin-left: 156px;
}

.header-link {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 24px;
    color: #fff;
}


/*? main */

.hero-title {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 70px;
    color: #fff;
    width: 560px;
}

.hero-title-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 21px;
    color: #fff;
    width: 570px;
}

.hero-title-text-button {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    background: var(--backgroundbutton-color);
    border-radius: 17px;
    border: none;
    display: block;
    padding: 16px 34px 7px 34px;
    margin-bottom: 125p;
}

.hero-img-title {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 24px;
    color: #fff;
    margin-bottom: 13px;
}

.hero-img-title-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-bottom: 35px;
}

.hero-img-title:nth-child(2) {
    margin-bottom: 0px;
}

.hero-img-title-text:nth-child(2) {
    margin-bottom: 34px;
}

.hero-img-title-text:nth-child(3) {
    margin-bottom: 29px;
}

.hero-list {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.card {
    display: flex;
    align-items: center;
}

.hero-img {
    outline: 1px tomato dashed;
}

.card-text-box {
    outline: 1px dotted seagreen;
    padding-top: 51px;
    padding-bottom: 44px;

}

.card-text-box-numbertwo {
    margin-left: -10px;
    outline: 1px dotted seagreen;
    padding-top: 51px;
    padding-bottom: 44px;
}

.hero-list-item {
    background: var(--backgroundblack-color);
    /* background: linear-gradient(66deg, #000 0%, #000 100%); */
    width: 310px;
}

.hero-list-item:hover {
    background: var(--backgroundorange-color);
}

.hero-list-item-button {
    font-family: "inter";
    font-weight: 900;
    font-size: 16px;
    color: #fff;
    background: var(--button-color);
    border: none;
}

.menu {
    background-color: var(--menu-color);
    padding-top: 21px;
    padding-bottom: 73px;
}

.orders-list {
    display: flex;
    flex-wrap: wrap;
    width: 873px;
    margin: auto;
}

.orders-list-item {
    border: 1px solid #fff;
    width: 328px;
    margin-bottom: 14px;
    margin-right: 190px;
}

.orders-list-item:nth-child(2) {
    margin-right: 0px;
}

.orders-list-item:nth-child(4) {
    margin-right: 0px;
    margin-bottom: 0px;
}

.orders-list-item:nth-child(3) {
    margin-bottom: 0px;
}

.orders-list-button {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 25px;
    color: #fff;
    border-radius: 17px;
    background: var(--backgroundbutton-color);
    border: none;
}

.orders-list-item-text {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 25px;
    color: #fff;
}

.quality {
    padding-top: 90px;
    width: 1440px;
    height: 853px;
    background-image:
        url(../images/Group\ 24\ \(1\).png),
        url(../images/Group\ 25.png),
        url(../images/Group\ 24\ \(2\).png),
        url(../images/Rectangle\ 26.png);
    background-repeat: no-repeat;
    background-position: left, right, center;
    background-size: auto, auto, auto, cover;
}

.quality-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 64px;
    color: #fff;
    margin-left: 594px;
    margin-bottom: 54px;
}

.quality-list {
    display: flex;
    justify-content: space-between;
}


.quality-list-item:first-child {
    /* margin-right: 21px; */
    margin-top: -116px;
}

.quality-list-item:nth-child(3) {
    margin-top: 69px;
}

.quality-number-list-item {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.quality-number-firstlist {
    padding: 26px 30px 81px 13px;
    /* background-color: grey; */
    margin-top: 20px;
    background-image: url(../images/Rectangle\ 5.png);
    background-size: cover;
}

.quality-number-secondlist {
    padding: 32px 4px 50px 10px;
    padding-bottom: 50px;
    /* background-color: grey; */
    background-image: url(../images/Rectangle\ 5.png);
    background-size: cover;
}

.quality-number-thirdlist {
    padding: 14px 20px 51px 20px;
    padding-bottom: 51px;
    /* background-color: grey; */
    background-image: url(../images/Rectangle\ 5.png);
    background-size: cover;
}

/*? footer */

.why {
    background-image: linear-gradient(89deg,
            #000 0%,
            #000 10%,
            #0303031e 100%),
        url(../images/background-why.png);
    padding-top: 55px;
    padding-bottom: 51px;
}

.why-list {
    display: flex;
    justify-content: center;
    gap: 180px;
}

/* .why-list-item {
    margin-right: 285px;
} */

/* .why-list-item:nth-child(3) {
    margin-right: 0px;
} */

.why-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 48px;
    color: #d9d9d9;
    margin-bottom: 120px;
    width: 735px;
}

.description {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.where {
    background: var(--menu-color);
    padding-bottom: 50px;
    padding-top: 66px;
}

.where-second-list {
    display: flex;
    flex-wrap: wrap;
}

.where-second-list-item:nth-child(1) {
    margin-right: 132px;
}

.where-second-list-item:nth-child(2) {
    margin-right: 10px;
}

.where-list {
    display: flex;
    flex-direction: column;
}

.where-list-item:nth-child(1) {
    margin-bottom: 49px;
}

.where-list-item:nth-child(2) {
    margin-bottom: 65px;
    margin-right: 9px;
}

.where-list-item:nth-child(3) {
    margin-bottom: 20px;
}

.where-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    margin-bottom: 44px;
}

.where-list-item-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    color: #fff;
}

.where-list-item-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: #fff;
}

.where-list-item-phone {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: #fff;
}

.when-list {
    display: flex;
    flex-direction: column;
}

.when-list-item-text {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.when-list-item-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    margin-bottom: 40px;
}

.bakery-background {

    background: var(--menu-color);
}

.bakery {
    background: var(--menu-color);
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 44px;
}

.bakery-title {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    width: 322px;
    margin-bottom: 16px;
}

.bakery-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}

.bakery-list {
    display: flex;
}

.bakery-list-item-title {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-right: 216px;
    margin-left: 77px;
    margin-bottom: 41px;
}

.bakery-list-item-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    margin-left: 77px;
}

.support-list-item-title {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-right: 155px;
    margin-bottom: 41px;
}

.support-list-item-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: #fff;
}

.company-list-item-title {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-bottom: 41px;
}

.company-list-item-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: #fff;
}

.coppy_right {
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    margin: 0 auto;
    margin-top: 85px;
}