.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */

.Group-1 {
  width: 1.1962890625em;
}

.Group-2 {
  width: 0.869140625em;
}

.Group-6 {
  width: 1.12890625em;
}
